@import 'variables';
@import 'mixins';

html{
  @include box-sizing($box-model)
}

*,
*:after,
*:before {
  @include box-sizing(inherit)
}

body {
  font-family: $fuente_principal;
}

 .container {
   max-width: 1100px;
   margin: 0 auto;
 }
 
 .oculto {
  display: none;
 }

 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    padding: 1.4rem 0;
  }
 }

 .carrito-compras {
   position: relative;
   &:hover .contenido {
     display: block;
     position: absolute;
     right: 0;
     background-color: #1e1e1e;
     padding: 1rem;
     max-width: 400px;
     img{
       max-width: 150px;
     }

     .boton {
      @include boton($principal);
     }
   }
 }

 .hero {
  @include background-imagen('../img/hero.jpg');
   min-height: 24rem;
   background-size: cover;
   color: $blanco;
   display: flex;
   align-items: center;

   .contenido-hero {
     flex:1;

     h2 {
       font-weight: 400;
       font-size: 2.4rem;
     }

     p {
       font-size: 1.2rem;
     }

     form {
        position: relative;

        @include tablet(){
          width: 40%;
        }
        

        input[type='submit']{
          position: absolute;
          right: 0;
          top:0;
          @include background-imagen('../img/lupa.png');
          width: 3rem;
          height: 3rem;
          display: block;
          text-indent: -9999px;
          border: none;
          cursor: pointer; 
        }

        input[type='text']{
          width:100%;
        }
     }
   }
 }

 .barra {
   min-height: 7rem;
   padding: 1rem;
   @include gradiente($secundario, $terciario);
   color: $blanco;
   display: flex;
   align-items: center;


   .iconos {
     display: flex;
     flex:1;
     flex-direction: column;
     @include desktop(){
       flex-direction: row;
     }
     .icono {
       flex:1;
       background-position: 5% center!important;

       @include tablet(){
        background-position: 20% center!important;
       }

       @include desktop(){
        background-position: left center!important;
       }

       background-size: 2.3rem;
       text-align: center;

       &.icono1 {
        @include background-imagen('../img/icono1.png');
       }
       &.icono2 {
        @include background-imagen('../img/icono2.png');
       }
       &.icono3 {
        @include background-imagen('../img/icono3.png');
       }
     }
   }
 }

